.ProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    background-color: var(--_page-background);
    border-left: var(--_border);
    border-right: var(--_border);
    overflow: hidden;
}

.ProfileInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 50%;
    background-color: var(--_page-background);
}

.ProfileInfo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 100%;
}

.ProfileInfo-header-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15em;
    left: 23em;
    z-index: 1;
    width: 20%;
    height: 100%;
}

.ProfileInfo-header-avatar-user {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 3px solid var(--_page-background);
}

.ProfileInfo-header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 13.5em;
    left: 29.5em;
    z-index: 1;
}

.ProfileInfo-header-info-fullName {
    font-size: 1em;
    font-weight: 700;
    color: var(--_text);
}

.ProfileInfo-header-info-username {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--_text);
}

.ProfileInfo-header-bio {
    position: absolute;
    top: 16.5em;
    left: 29.5em;
    z-index: 1;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
}

.ProfileInfo-header-other-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 18.5em;
    left: 29.5em;
    width: 38%;
    height: 12%;
}

.ProfileInfo-header-other-info-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -0.2em;
    z-index: 1;
}

.ProfileInfo-header-other-info-location-icon {
    position: relative;
    top: -0.2em;
    width: 1.5em;
    height: 1.5em;
}

.ProfileInfo-header-other-info-location-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--_text);
}

.ProfileInfo-header-other-info-website {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 4em;
    z-index: 1;
}

.ProfileInfo-header-other-info-website-icon {
    position: relative;
    top: -0.2em;
    width: 1.5em;
    height: 1.5em;
}

.ProfileInfo-header-other-info-website-link {
    font-size: 1em;
    font-weight: 300;
    color: var(--_primary);
}

.ProfileInfo-header-other-info-joined {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2em;
    left: -0.1em;
    z-index: 1;
}

.ProfileInfo-header-other-info-joined-icon {
    position: relative;
    top: -0.2em;
    width: 1.5em;
    height: 1.5em;
}

.ProfileInfo-header-other-info-joined-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--_text);
}

.ProfileInfo-header-other-info-following-followers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4em;
    left: 0em;
    z-index: 1;
}

.ProfileInfo-header-other-info-following-count {
    font-size: 1em;
    font-weight: 700;
    color: var(--_text);
}

.ProfileInfo-header-other-info-following-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--_text);
    padding-right: 1em;
}

.ProfileInfo-header-other-info-followers-count {
    font-size: 1em;
    font-weight: 700;
    color: var(--_text);
}

.ProfileInfo-header-other-info-followers-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--_text);
}

.ProfileInfo-header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -7em;
    z-index: 0;
    max-width: 100%;
    max-height: 50%;
}

.ProfileInfo-header-background-image {
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.ProfileInfo-tab-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 3em;
    margin: 1em;
    border-bottom: var(--_border);
}

.ProfileInfo-tab-menu-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 20%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    cursor: pointer;
}

.ProfileInfo-tab-menu-posts-replies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    cursor: pointer;
}

.ProfileInfo-tab-menu-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    cursor: pointer;
}

.ProfileInfo-tab-menu-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    cursor: pointer;
}

.active-tab {
    border-bottom: 2px solid var(--_primary);
}

.ProfileInfo-header-edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12em;
    right: 30em;
    width: auto;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    background: none;
    border: var(--_border);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ProfileInfo-header-edit-button:hover {
    background: var(--_primary);
    color: var(--_button-text);
}

.ProfileInfo-tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -1em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}