.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    background-color: var(--_page-background);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 30em;
    border-radius: 1em;
    border: var(--_border);
    background-color: var(--_page-background);
    box-shadow: 0em 0em 1em var(--_shadow);
}

.register-container-form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    height: 20em;
}

.register-container-form-title {
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    color: var(--_text);
}

.register-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container-form-input {
    width: 100%;
    height: 1em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    border: var(--_border);
    background-color: var(--_input-background);
    color: var(--_text);
}

.register-container-form-input:focus {
    outline: none;
    border: 1px solid var(--_primary);
}

.register-container-form-text-area {
    text-align: left;
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 300;
    color: var(--_text);
}

.register-container-form-text-link {
    text-decoration: none;
    color: var(--_tertiary);
}

.register-container-form-text-link:hover {
    text-decoration: underline;
}

.register-container-form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    border: none;
    background-color: var(--_button);
    color: var(--_button-text);
}

.register-container-form-button:hover {
    cursor: pointer;
    background-color: var(--_button-hover);
    box-shadow: 0em 0em 10em var(--_shadow);
}

.register-container-form-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

.register-container-form-links-text {
    font-size: 0.9em;
    font-weight: 300;
    color: var(--_text);
}

.register-container-form-links-link {
    text-decoration: none;
    color: var(--_tertiary);
    text-decoration: underline;
}

.register-container-form-password-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 111%;
}

.register-container-form-input-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    border: var(--_border);
    background-color: var(--_input-background);
    color: var(--_text);
}

.register-container-form-input-password:focus {
    outline: none;
    border: 1px solid var(--_primary);
}

.register-container-form-input-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 23em;
    width: 1.2em;
    height: 1.2em;
}