.Menu-Settings-Modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10em;
    left: 5em;
    z-index: 100;
    height: 15em;
    width: 10em;
    border-radius: 1em;
    border: var(--_border);
    background-color: var(--_modal-background);
    box-shadow: 0 0 10px var(--_shadow);
    overflow: hidden;
}

.Menu-Settings-Modal-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Menu-Settings-Modal-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1em;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    color: var(--_text);
    cursor: pointer;
    border-bottom: var(--_border);
    transition: all 0.2s ease-in-out;
}

.Menu-Settings-Modal-item-image {
    height: 1.2em;
    width: 1.2em;
    margin-right: 1em;
}

.Menu-Settings-Modal-item-text {
    height: 1em;
    width: 100%;
}

.Menu-Settings-Modal-item:hover {
    background-color: var(--_hover);
}